<h1>Listing azioni</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Contributo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @azioni.each do |azione| %>
  <tr>
    <td><%= azione.nome %></td>
    <td><%= azione.contributo_id %></td>
    <td><%= link_to 'Show', azione %></td>
    <td><%= link_to 'Edit', edit_azione_path(azione) %></td>
    <td><%= link_to 'Destroy', azione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Azione', new_azione_path %>
